html {
    font-size: 1rem;
}

h1 {
    font-size: 7.5vw;
}

h2 {
    font-size: 6vw;
}

h5 {
    font-size: 4vw;
}

p {
    font-size: 2vw;
    text-align: justify;
}

@media only screen and (min-width: 960px) {
    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 57.6px;
    }

    h5 {
        font-size: 38.4px;
    }

    p {
        font-size: 19.2px;
    }
}

#pris-container-1 {
    background-image: url(p1.jpg);
}

#pris-container-2 {
    background-image:;
}

.pris-container {
    background-color: gray;
    height: 10vh;
    max-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 960px;
    padding-top: 2.5vh;
}

.priser {
    background-color: rgba(255,255,255,0.75);
    height: 5vh;
    max-height: 50px;
}

#main-container {
    max-width: 960px;
}